.select2-container .select2-selection--single {
  box-sizing: border-box !important;
  cursor: pointer !important;
  display: block !important;
  height: 36px !important;
  user-select: none !important;
  -webkit-user-select: none !important;
}